@model IEnumerable<WebApplication1.Models.Employee>

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<h2>Employee List</h2>
<p>
	@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
	{
	}
	</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EmployeeName)
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EmployeeName)
			</td>
		</tr>
	}
</table>



